{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Music festival for Nexus with live music and good vibes "/>
    <meta name="author" content="Joel Haag"/>
    <title>Nexus</title>
    <link rel="icon" type="image/x-icon" href="{% static 'home/images/logo.png' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
      <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Own Css-->
    <link href="{% static 'home/css/header.css' %}" rel="stylesheet">



</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="transition: top 1s;" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">
            NXS
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">

            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#stages">About Us</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#Artists">Artists</a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="#Gallery">Gallery</a></li> -->
                <li class="nav-item"><a class="nav-link" href="#Attractions">Attractions</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Nexus</h1>
                <h2 class="text-white-50 mx-auto mt-2 ">PRESENTED BY:</h2>
                <h2 class="text-white-50 mx-auto  mb-5">THE HOSTS OF "MANSION NO MORE"</h2>
                <a class="btn btn-primary header-button"
                   href="https://www.howler.co.za/events/the-nexus-fest-110c/tickets" target="_blank">Buy Tickets</a>
            </div>
        </div>
    </div>
</header>

<!-- About Section-->
<section class="about-section text-center bg-black" id="stages">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8" >
                <h2 class="text-white mb-4" data-aos="fade-down" >About us</h2>
                <p class="text-white-50" data-aos="fade-up">
                    An electric semi-annual festival. A space created created for
                    artists and expressionists to explore a profound collision of music, art & fashion. The Nexus is an
                    event which serves as the transformed rebirth of a long awaited sequel, brought to you by the hosts
                    of Mansion No More.
                    We are proud to have an awesome community which delivers the energy we’ve all grown to love
                </p>
            </div>
        </div>
        <img class="img-fluid" data-aos="flip-right"  src="{% static "home/images/logo.png" %}" alt="NXS"/>
    </div>
</section>

<!-- Projects-->
<!--
<section class="projects-section bg-black" id="Artists">
    <div class="container px-4 px-lg-5">

        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <div class=" text-center text-lg-center">

                </div>
            </div>
        </div>

        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Stage 1</h4>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Artists</h4>
                            <p class="mb-0 text-white-50">FILIPE </p>
                            <p class="mb-0 text-white-50">LARRY DIGITAL </p>
                            <p class="mb-0 text-white-50">TSHIAMO & NKANDU </p>
                            <p class="mb-0 text-white-50">MOLOTOV </p>
                            <p class="mb-0 text-white-50">ITS OFFICIAL Q (DJ Q) </p>
                            <p class="mb-0 text-white-50">RAY SQUARED  </p>
                            <p class="mb-0 text-white-50">FRANADILLA & LORENZO </p>
                            <p class="mb-0 text-white-50">VIN GROOVIN </p>
                            <p class="mb-0 text-white-50">CORNELIUS </p>
                            <p class="mb-0 text-white-50">SOUL NATIVES </p>
                            <p class="mb-0 text-white-50">GUMZ MUSIC </p>
                            <p class="mb-0 text-white-50">ESONA </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">

            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Stage 2</h4>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Artists</h4>
                            <p class="mb-0 text-white-50">DAZED </p>
                            <p class="mb-0 text-white-50">NEO BRANDON </p>
                            <p class="mb-0 text-white-50">GALILEO</p>
                            <p class="mb-0 text-white-50">NO TIME FOR SPACE - ETHAN</p>
                            <p class="mb-0 text-white-50">BLACK LAKE</p>
                            <p class="mb-0 text-white-50">DAVID & GREVOL</p>
                            <p class="mb-0 text-white-50">200 TONE</p>
                            <p class="mb-0 text-white-50">BEEMINDFUL (CPT)</p>
                            <p class="mb-0 text-white-50">NATASA</p>
                            <p class="mb-0 text-white-50">AVI SUBBAN </p>
                            <p class="mb-0 text-white-50">RYAN MURGATROID</p>
                            <p class="mb-0 text-white-50">DOGSTAR & ILLING B2B</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
-->
<section class="projects-section bg-black" id="Attractions">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">

            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">WATERPARK</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">CARNIVAL RIDES</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">BEER GARDEN</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">GO-KARTS</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">STALLS</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">DJ’S & LIVE PERFORMANCE</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Gallery-->
<!--    <section class="projects-section bg-black" id="Gallery">
      <div class="container px-4 px-lg-5">

          <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">

          </div>
      </div>
  </section> -->


<!-- Contact Section-->
<section class="signup-section bg-black contact-margin" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="fa fa-envelope fa-2x mb-2"></i>
                <h2 class="text-white mb-5">Contact us</h2>
                <form action="{% url 'home:contact' %}" method="post" class="form-signup" id="">
                    {% csrf_token %}
                    <!-- Email address input-->
                    <div class="row input-group-newsletter">
                        <div class="col">
                            <input class="form-control" type="email" name="message-email" placeholder="Email Address"
                                   aria-label="Email"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row input-group-newsletter">
                        <div class="col">
                            <textarea name="message" style="resize: none" class="form-control"
                                      placeholder="Your message" aria-label="..."></textarea>
                        </div>
                    </div>
                    <br/>
                     -->
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary bg-black border-black ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <h2 class="text-white mb-5 text-center">SPONSORS</h2>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100 bg-black">
                    <div class="card-body text-center">


                        <br/>
                        <p class="text-white" >
                            LAVIDA VODKA
                        </p>
                        <div class="small text-white-50"><img class="img-fluid" src="{% static 'home/images/vodkasponser.jpg' %}"
                                                              alt="LAVIDA VODKA"/></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100 bg-black">
                    <div class="card-body text-center ">
                        <br/>
                        <p class="text-white" >
                            SILKVELOUR
                        </p>
                        <div class="small text-white-50"><img class="img-fluid" src="{% static 'home/images/sponser2.jpg' %}"
                                                              alt="SILKVELOUR"/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100 bg-black">
                    <div class="card-body text-center">
                        <h4 class="text-uppercase m-0 text-white">Address</h4>
                        <br />
                        <div class="small text-white-50" >1 Rifle Range Rd, Baragwanath, Johannesburg South, 2013</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100 bg-black">
                    <div class="card-body text-center ">
                        <h4 class="text-uppercase m-0 text-white">Email</h4>
                        <br />
                        <div class="small text-white-50">axlkubb@gmail.com</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100 bg-black">
                    <div class="card-body text-center">

                        <h4 class="text-uppercase m-0 text-white">Phone</h4>
                        <br />
                        <div class="small text-white-50">061 - 443 - 5779</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">

            <a class="mx-2" href="https://www.instagram.com/thenexusfest/" target="_blank"><i class="fa  fa-instagram"></i></a>

        </div>
    </div>
</section> -->
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5"> Website by joelohaag@gmail.com
    </div>
</footer>

<!-- Core theme JS-->

<script src="{% static "home/js/scripts.js" %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="{% static "home/js/AOS.js" %}"></script>
<script src="{% static "home/js/navbar.js" %}"></script>


</body>
</html>

