@font-face {
    font-family:AstronBoyWondor;
    src: url("../fonts/AstronBoyWonder.ttf");
}

.NexusHeading {
    font-family: "AstronBoyWondor" !important;

}
.headingWriting {
    font-size: 0.8rem;
}

hr {
	background:none;
	clear:both;

}